In [ ]:
import pandas as pd
import numpy as np
import random


def random_kill(n):
    # 生成一个随机的奇数，范围从0到n-1
    return random.choice([i for i in range(n) if i % 2 == 0])


def random_kill_list(alive_ids):
    n = len(alive_ids)
    return alive_ids[random_kill(n)]


print(random_kill(1))
num_people = 600
df = pd.DataFrame({"id": range(1, 1 + num_people), "status": [1] * num_people})
df_alive = df[df['status'] == 1]

df['killed_turn'] = -1
kill_id = random_kill(len(df))
kill_sequence = []

for turn in range(num_people)[:]:
    df_alive = df[df['status'] == 1]
    alive_ids = df_alive['id'].to_list()
    kill_id = random_kill_list(alive_ids) - 1

    df.loc[kill_id, 'status'] = 0
    # print(len(df_alive))
    kill_sequence.append(kill_id + 1)

    df.loc[kill_id, 'killed_turn'] = turn + 1

if df['status'].sum() == 0:
    print("All people killed.")
else:
    print("Failed")

# print(kill_sequence)

print("The winner is id:",
      df.sort_values(by='killed_turn', ascending=False).iloc[0]['id'])
df.sort_values(by='killed_turn', ascending=False)

In [ ]:
import pandas as pd
import random


def run_simulation(num_people):

    def random_kill(n):
        # 生成一个随机的奇数，范围从0到n-1
        return random.choice([i for i in range(n) if i % 2 == 0])

    def random_kill_list(alive_ids):
        n = len(alive_ids)
        return alive_ids[random_kill(n)]

    df = pd.DataFrame({
        "id": range(1, 1 + num_people),
        "status": [1] * num_people
    })
    df['killed_turn'] = -1

    kill_sequence = []

    for turn in range(num_people):
        df_alive = df[df['status'] == 1]
        alive_ids = df_alive['id'].to_list()
        kill_id = random_kill_list(alive_ids) - 1

        df.loc[kill_id, 'status'] = 0
        kill_sequence.append(kill_id + 1)

        df.loc[kill_id, 'killed_turn'] = turn + 1

    # if df['status'].sum() == 0:
    #     print("All people killed.")
    # else:
    #     print("Failed")

    # print("The winner is id:",
    #       df.sort_values(by='killed_turn', ascending=False).iloc[0]['id'])

    return df


# 运行并返回结果
result_df = run_simulation(600)
result_df

In [124]:
import pandas as pd
import numpy as np
import random


def random_kill(n):
    # 生成一个随机的奇数，范围从0到n-1
    return random.choice([i for i in range(n) if i % 2 == 0])


def random_kill_list(alive_ids):
    n = len(alive_ids)
    return alive_ids[random_kill(n)]


def run_simulation_numpy(num_people):

    # 初始化 NumPy 数组
    ids = np.arange(1, num_people + 1)
    status = np.ones(num_people, dtype=int)  # 1表示存活
    killed_turn = np.full(num_people, -1)  # 初始化淘汰回合

    for turn in range(num_people):
        alive_ids = ids[status == 1]  # 获取当前存活的ID
        if len(alive_ids) == 0:  # 如果没有存活者，提前退出循环
            break

        kill_id = random_kill_list(alive_ids) - 1  # 选择要淘汰的ID

        status[kill_id] = 0  # 标记为淘汰
        killed_turn[kill_id] = turn + 1  # 记录淘汰回合

    # 转换为 DataFrame
    df = pd.DataFrame({
        "id": ids,
        "status": status,
        "killed_turn": killed_turn
    })

    return df.sort_values(by='killed_turn', ascending=False)


#

In [ ]:
# df_simul = pd.DataFrame({"id": range(1, 1 + num_people)})
# for i in range(10):
#     result_df = run_simulation(600)
#     df_simul[f'turn_{i}'] = result_df['killed_turn']

In [202]:
import pandas as pd
import numpy as np
import random
import warnings
warnings.filterwarnings('ignore')

import tqdm
def random_kill(n):
    # 生成一个随机的奇数，范围从0到n-1
    return random.choice([i for i in range(n) if i % 2 == 0])


def random_kill_list(alive_ids):
    n = len(alive_ids)
    return alive_ids[random_kill(n)]


def run_simulation_numpy(num_people):

    # 初始化 NumPy 数组
    ids = np.arange(1, num_people + 1)
    status = np.ones(num_people, dtype=int)  # 1表示存活
    killed_turn = np.full(num_people, -1)  # 初始化淘汰回合

    for turn in range(num_people):
        alive_ids = ids[status == 1]  # 获取当前存活的ID
        if len(alive_ids) == 0:  # 如果没有存活者，提前退出循环
            break

        kill_id = random_kill_list(alive_ids) - 1  # 选择要淘汰的ID

        status[kill_id] = 0  # 标记为淘汰
        killed_turn[kill_id] = turn + 1  # 记录淘汰回合

    # 转换为 DataFrame
    df = pd.DataFrame({
        "id": ids,
        "status": status,
        "killed_turn": killed_turn
    })

    return df


#

df_simul = pd.DataFrame({"id": range(1, 1 + num_people)})
for i in range(5000):
    result_df = run_simulation_numpy(600)
    df_simul[f'turn_{i}'] = result_df['killed_turn']

result_df

      id  status  killed_turn
0      1       0          295
1      2       0          328
2      3       0           32
3      4       0          134
4      5       0          461
..   ...     ...          ...
595  596       0           26
596  597       0          115
597  598       0          427
598  599       0          490
599  600       0          244

[600 rows x 3 columns]

In [209]:
df_simul

,id,turn_0,turn_1,turn_2,turn_3,turn_4,turn_5,turn_6,turn_7,turn_8,...,turn_4991,turn_4992,turn_4993,turn_4994,turn_4995,turn_4996,turn_4997,turn_4998,turn_4999,average_alive_turns
0,1,412,49,240,318,94,113,340,342,173,...,406,200,11,7,363,202,486,50,295,199.534693
1,2,540,72,328,338,493,300,451,344,177,...,454,342,86,63,426,282,502,173,328,332.353529
2,3,264,415,57,482,530,381,125,68,357,...,10,132,202,192,157,534,331,347,32,253.543291
3,4,566,434,198,486,174,514,302,95,458,...,310,480,467,20,325,539,387,95,134,321.621276
4,5,96,200,340,353,210,539,325,234,157,...,314,568,112,524,141,127,71,24,461,267.776445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,596,452,252,600,393,204,499,289,421,183,...,23,371,228,422,393,341,381,526,26,300.040792
596,597,1,494,145,377,384,542,547,554,354,...,186,285,27,233,444,105,46,584,115,301.038592
597,598,44,519,95,288,73,365,321,302,446,...,18,576,116,318,193,279,247,528,427,299.779644
598,599,103,572,49,289,238,123,592,102,442,...,207,522,287,560,370,540,35,113,490,301.810438
599,600,284,486,222,514,48,480,220,16,22,...,318,450,342,458,26,210,586,510,244,298.273945

In [203]:
# 统计每个ID成为最后一个被淘汰的次数
last_killed = df_simul.iloc[:, 1:].idxmax()
last_killed_counts = pd.DataFrame({
    'id': range(1,
                len(df_simul) + 1),
    'win_count': [0] * len(df_simul)
})

# last_killed_counts = last_killed.value_counts()
for i in last_killed.values:
    last_killed_counts.loc[i, 'win_count'] = last_killed.value_counts()[i]

print(last_killed_counts['win_count'].sum())

last_killed_counts['win_count']
last_killed_counts

5000

      id  win_count
0      1          0
1      2          0
2      3          0
3      4          0
4      5          0
..   ...        ...
595  596         17
596  597         19
597  598         10
598  599         19
599  600         17

[600 rows x 2 columns]

In [204]:
last_killed_counts.sort_values('win_count',ascending=False)

      id  win_count
572  573         27
576  577         26
558  559         24
585  586         23
516  517         23
..   ...        ...
38    39          0
35    36          0
34    35          0
33    34          0
0      1          0

[600 rows x 2 columns]

In [207]:
df_simul['average_alive_turns'] = df_simul.T.mean()
df_simul[['id', 'average_alive_turns']].sort_values(by='average_alive_turns',
                                                    ascending=False)

    id  average_alive_turns
1    2           332.353529
5    6           321.668266
3    4           321.621276
7    8           313.048590
13  14           310.840832
..  ..                  ...
6    7           281.687263
8    9           279.873425
4    5           267.776445
2    3           253.543291
0    1           199.534693

[600 rows x 2 columns]